* {
  margin: 0;
  padding: 0;
}

// html {
//   position: relative;
//   min-height: 100%;
//   height: 100%;
// }

// body {
//   padding-top: 70px;
//   padding-bottom: 60px;
//   height: 100%;
// }

html,body {
  height: 100%;
}

main {
  width: 100%;
  position: relative;
  min-height: 100%;
  padding-top: 70px;
  padding-bottom: 60px;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
  line-height: 60px;
}

.cocktail-img {
  object-fit: cover;
  border-radius: 10px;
}

.profile-page {
  margin-top: 170px;
}

.radio-vertical {
  display: block;
}

.sidebar {
  border-right: 1px solid rgba(0,0,0,.1);
  position: sticky;
  top: 70px;
  bottom: 70px;
  max-height: calc(100vh - 10rem);
  overflow-y: scroll;
  line-height: 1em;
}