@media (max-width:768px)
{
  main {
    padding-top: 50px;
    max-width: 100vh;
  }
  header {
    height: 80px;
  }
  #search-form {
    display: none;
  }
  .sidebar.left {
    width: 100%;
  }
  .search-shortcut {
    display: none;
  }
  .cocktail-show > .cocktail-img {
    height: 400px;
    width: 90%;
    object-fit: cover;
  }
}