@media (max-width:960px)
{
  main {
    max-width: 100vh;
  }
  .container {
    padding-top: 100px;
    width: 95% !important;
  }
  header {
    height: 60px;
  }
  #search-form {
    display: none;
  }
  #user-action {
    left: 60px;
  }
  .search-shortcut {
    display: none;
  }

  .index-favorite-button {
    position: relative;
    top: 25px;
    left: 260px;
  }
  .pc-screen {
    display: none !important;
  }

  #new_recipe {
    position: fixed;
    bottom: 90px;
    left: 20px;
  }

  #direct_messages_btn {
    position: fixed;
    bottom: 20px;
    left: 20px;
  }

  .mytabs {
    width: 100%;
    margin: 5px auto;
  }

  // トップページ
  #bg-video {
    display: none;
  }
  .top-section {
    padding-top: 80px;
  }
  .section1 {
    & .header-left {
      width: 100vw;

      & .contents {
        margin: 0 auto;
        font-size: 1.5rem;
        padding: 0 80px 0 20px;
      }
      & .top-button {
        text-align: center;
      }
    }
  }
  .section2 {
    & img {
      width: 90%;
    }
    & .section2-img1 {
      top: 50%;
      left: 5%;
    }
    & .section2-img2 {
      top: 75%;
      left: 5%;
    }
  }
  .section3 {
    & .section3-img2 {
      width: 90%;
    }
  }
  .section4 {
    & .section4-img1 {
      width: 90%;
    }
    & .section4-img2 {
      width: 90%;
    }
  }

  // レシピ詳細ページ
  .mobile-screen {
    display: inline-block;
  }
  .fav-button {
    position: static;
  }
  .cocktail-box {
    width: 90%;
    margin: 20px auto;
  }

  // ランキングページ
  .ranking-item {
    width: 90%;
    margin: 30px auto;
    margin-bottom: 90px;
  }
  .ranking-item:nth-child(3n-1) {
    margin-top: 0px;
  }
  .ranking-item:nth-child(3n) {
    margin-top: 0px;
  }

  .ingredient-type-box ul {
    display: block;
  }
  .ingredient-box {
    width: 140px;
    margin: 1em 0;
  }
}